.title {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-width: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.budget-tracker {
    border-collapse: collapse;
    min-width: 750px;
    margin: auto;
}

.budget-tracker * {
    font-family: Arial, Helvetica, sans-serif;
}

.budget-tracker th {
    text-align: left;
    padding: 10px 10px;
    border-bottom: 2px solid #00952d;
}

.budget-tracker td {
    padding: 5px;
}

.input,
.delete-entry {
    height: 30px;
    font-size: 13px;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
}

.input {
    border: 1px solid #dddddd;
    border-radius: 5px;
    outline: none;
}

.input:focus {
    border-color: #bbbbbb;
}

.delete-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    background: none;
    color: red;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.new-entry {
    width: 30px;
    background: none;
    color: rgb(0, 255, 76);
    border: 5px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.delete-entry:hover {
    background: rgba(255, 0, 0, 0.322);
}

.controls,
.summary {
    text-align: right;
}

#app {
    width: 100%;
}